$orange:#E7CF7F;
$fa:#FAFAFA;
$white:#FFFFFF;
$grey36:#363636;
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Mulish', sans-serif;
   
}
.button{
    text-decoration:none;
    text-align:center;
    color: $grey36;
    font-weight: 900;
    font-size: 14px;
    padding:15px 20px;
    border-radius:4px;
    text-transform:uppercase;
    background-color: $orange;
    display:inline-block;
    position:relative;
    &#button-grey{
        background-color:#D9D9D9;  
    }
    &:hover{
        filter:brightness(90%)
    }
    &:hover::after{
    width:100%;
    }
    &::after{
        content:"";
        position:absolute;
        bottom:0;
        left:0;
        height:2px;
        width:0px;
        background-color:black;
        transition:all .5s ease;
    }
    

    @media(max-width:300px){
        padding:7.5px 10px;
    }
    @media(max-width:250px){
        font-size:12px;
        padding:6px 9px;
    }
}

.wrapper{
    
      margin:0 auto;
      max-width:1260px;
  }
  section{
      padding-top:50px;
      background-color: $fa;
      @media(max-width:1000px){
          padding-top:35px;
      }
  }
//   utilities end
// header start
header{
    background-color:$white;
    border-bottom:2px solid $orange;
    position:relative;
    z-index:9999;
    @media(max-width:600px){
        border-bottom:initial;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    }
 
    .header{
        display:flex;
        padding-left:20px; ////////////
        height: 92px;
        align-items:center;
        @media (max-width:1200px){ 
            padding-right:20px;
        }
        @media(max-width:600px){
            flex-direction:column;
            height:170px;
            align-items:initial;
            justify-content:space-around;
            padding:0;
        }
        &-logo{
            @media(max-width:600px){ 
                margin-bottom:-10px;
                padding-left:20px;
            }
            @media(max-width:180px){
                padding-left:initial;
            }
            img{
            width: 219px;
            height: 71.88px;
            // padding-left:23px;   /////////
            @media(max-width:600px){
                width:141px;
                height:46px;
            }
        }
        }
        &-search{
        //    margin-left:auto;
        //    margin-right:auto;
            margin-left:90px;
            flex-basis:600px;
            @media (max-width:1200px){  ////////////////
                margin-left:auto;
                margin-right:auto;
                padding-left:20px;
                padding-right:20px;
                
            }
            @media(max-width:600px){
                margin:0;
                flex-basis:initial;
            }
            &-input{
                position:relative;
                a{
                    width:16px;
                    height:16px;
                    position:absolute;
                    top:50%;
                    right:13px;
                    transform:translateY(-50%);
                }
                img{
                    height:100%;
                }
            }
           input{
            border: 1px solid #D9D9D9;
        
            border-radius: 4px;
            height:42px;
                padding:14px 15px;
                font-size:14px;
               
              width:100%;
           }
           
        }
        &-icons{
            margin-left:auto;
           
            @media(max-width:600px){
                padding-top:10px;
                border-top:2px solid $orange;
                margin-left:initial;
                padding-left:20px;
                padding-right:20px;
            }
            @media(max-width:180px){
                padding-left:initial;
                padding-right:initial;
            }
            .langs{
                position:relative;
            }
            .other-languages{
                display:none;
                background-color:#677E98;;
                position:absolute;
                top:110%;
                left:-10px;
                img{
                    width:30px;
                    filter:drop-shadow(0 0 2px white)

                }
                a{
                    display:block;
                    padding:5px 10px;
                    text-decoration:none;
                    &:hover{
                        background-color:#3C4D61;
                    }
                }
            }
          ul{
              display:flex;
              li{
                  list-style: none;
                  width:30px;
                  height:30px;
                  position:relative;
                  img{
                      height:100%;
                    
                  }
                 
                  a{
                      color:black;
                      text-decoration:none;
                  }
                  .circle{
                      position:absolute;
                    bottom:-5px;
                    right:8px;
                      background-color:$orange;
                        width:18px;
                        height:18px;
                        display:flex;
                        justify-content: center;
                        align-items:center;
                        border-radius:50%;
                        font-size:13px;
                        font-weight:600;
                        @media(max-width:600px){
                            right:2px;
                            bottom:-2px;
                        }
                  }
              }
              li:first-child{
                  display:none;
                  @media(max-width:600px){
                      display:block;
                  }
              }
              li:nth-child(2){
                  @media(max-width:600px){
                    margin-left:auto;
                  }
              }
              li:not(:first-child):not(:nth-child(2)){
                  margin-left:10px;
              }
          }
        }

      }
    
}
// header end
// nav start
nav{
    background: $white;
    height:40px;
    // filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.15));
    position:relative;
    z-index:8000;
    // &.big>ul>li>a{
    //     &:hover{
    //         border-bottom:2px solid $orange;
           
    //     }
    //    }
    @media(max-width:600px){
        display:none;
        position:absolute;
        top:170px;
        left:0;
        height:auto;
        width:252px;
        max-width:100vw;
        min-height:530px;
    }
   
    
    &>ul{ 
        height:100%;
       width:max-content;
       margin:0 auto;
       display:flex;
       &:after{
           content:"";
           position:absolute;
           top:0;
           right:0;
           left:0;
           bottom:0;
           background-color:transparent;
           z-index:-1;
           box-shadow:0px 1px 4px rgba(0, 0, 0, 0.15)
       }
       @media(max-width:600px){
           display:block;
           margin:0;
           width:auto;
       }
    
       
      
       &>li{
           list-style:none;
          
           
           &>a{
               
               text-decoration: none;
               color: #737373;
               font-size: 14px;
               display:flex;
               align-items:center;
               width:100%;
               height:100%;
               text-align:center;
               border-bottom:2px solid transparent;
               cursor:pointer;
               @media(max-width:600px){
                padding:10px 15px;
                justify-content:space-between;
                font-weight:700;
                border-bottom:2px solid #DBDBDB;
            }
           }
       }
       
       &>li:nth-last-child(2){
           display:none;
           @media(max-width:1200px){
            display:block;
        }
       }
       &>li:last-child{
           @media(max-width:1200px){
               display:none;
           }
       }
       &>li:not(:last-child):not(:nth-last-child(2)){
           margin-right:25px;
           @media(max-width:600px){
               margin:0;
           }
       }
    }
 
    .podmeni{
        z-index:-1;
        display:none;
        color:$grey36;        
        height:auto;
        width:100%;
        left:0;
        top:100%;
        position:absolute;
        padding:30px 60px;
        background: #F5F5F5;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
        ul{
            @media(max-width:1000px){
                pading:0 10px;
            }
        }
        
        @media(max-width:1200px){
            padding:30px 10px;
        }
        @media(max-width:600px){
            position:static;
            height:auto;
            box-shadow: initial;
            padding:0;
        }
        h2{
           font-weight:900;
           font-size: 14px;
           margin-bottom:30px;
           text-transform:uppercase;
           a{
            color:$grey36;
            text-decoration:none;
            @media(max-width:600px){
                display:inline-block;
                width:100%;
                padding:10px 15px;
                border-bottom:1px solid #DBDBDB;
              
             }
           }
           @media(max-width:600px){
           margin-bottom:0;
           font-weight:400;
           text-transform:initial; 
           
        }
        }
        .podmeni-col-2{
            margin-top:30px;
        }
        
        .podmeni-col-1, .podmeni-col-2{
            display:flex;
            @media(max-width:600px){
                display:initial;
                padding:0;
            }
            &>ul:nth-child(1){
             flex:2;  
            }
            &>ul:nth-child(2){
                flex:2.45;
             }
             &>ul:nth-child(3){
                flex:2.7;
             }
             &>ul:nth-child(4){
                flex:2.55;
             }
             &>ul:nth-child(5){
              flex:2.6;  
             }
          
        }
        li{
            list-style:none;
            font-size:14px;
            font-weight:600;
            line-height:22.4px;
            @media(max-width:600px){
                display:none;
            }
            a{
                text-decoration:none;
                color:$grey36;
            }
        }
    }

}
nav .arrow{ 
    border-left:7px solid #969696;
    @media(max-width:600px){
        display:block;
    }
}
footer .arrow{
    border-left:7px solid $fa;
    @media(max-width:1200px){
        display:block;
    }
}
.arrow{
    display:none;
    width:0;
    height:0;
    border-top:7px solid transparent;
    border-bottom:7px solid transparent;
    
    &.rotated{
        transform:rotate(90deg);
    }
    
}

.burg{
    cursor:pointer;
    width:30px;
    height:30px;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    &::before{
        content:"";
         position:absolute;
        background-color:$orange;
        width:70%;
        height:10%;
        transform:translateY(-7px);
        box-shadow:0 7px 0 $orange;
        transition: transform .2s ease;
      }
      &::after{
        content:"";
         position:absolute;
        background-color:$orange;
        width:70%;
        height:10%;
        transform:translateY(7px);
        transition: transform .2s ease;
        
      }
      &.burgact::after{
        transform:translateY(0) rotate(45deg);
      }
      &.burgact::before{
        transform:translateY(0) rotate(-45deg);
        box-shadow:none;
      }
  }
// section grid start
.grid-images-section{
    padding-left:40px;
    padding-right:40px;
    @media(max-width:600px){
        padding-left:15px;
        padding-right:15px;
    }
    @media(max-width:200px){
        padding-left:0;
        padding-right:0;
    }
}
.grid-container{
    height:680px;
    display:grid;
    grid-template-columns: minmax(100px, 3.15fr) 4.2fr 1.05fr 4.2fr;
    grid-template-rows:2.72fr 1.18fr 2.9fr;
    grid-template-areas:
    "one two three three"
    "four two three three"
    "four five five six";
    @media(max-width:1000px){
        height:400px;
        
    }
    @media(max-width:600px){
        height:auto;
        display:block;
      
    }
    .grid-item-1{
        grid-area:one;
        background-color:#313F4F;   
        padding:35px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor:context-menu;
        @media(max-width:600px){
            padding:0;
            background:transparent;
        }
        &-text{
           line-height:0.85;
           text-transform: uppercase;
           h2,h3{
               font-size:60px;
               @media(max-width:1000px){
                   font-size:32px;
               }
               @media(max-width:600px){
                font-size:26px;
                text-align:center;
            }
            @media(max-width:200px){
                font-size:20px;
            }
           }
           h2{
               font-weight:300;
               color: $orange;
               @media(max-width:600px){
                   color:black;
               }
             
           }
           h3{
               color:$white;
               font-weight:900;  
               @media(max-width:600px){
                color:black;
            }
           }
        }     
    }
    .grid-image{
        width:100%;
        height:100%;
        position:relative;
        @media(max-width:600px){
            border-radius:5px;
            transform: matrix(-1, 0, 0, 1, 0, 0);
        }
    
        
        &::before{
            content:"";
            display:block;
            width:100%;
            height:100%;
            background-color:rgba(0, 0, 0, 0.555);
            opacity:0;
            visibility:hidden;
            transition:all .5s ease;
        }
    }
    .grid-item-2{
        grid-area:two;
        .grid-image{
            background-image:url("./Assets/images/img-1.jpg");
            background-size:cover;
            background-position:center;  
        }   
    }
    .grid-item-3{
        grid-area:three;
        .grid-image{
            background-image:url("./Assets/images/img-2.jpg");
            background-size:cover;
            // background-position:80% 50%;
            background-position:center;
        }
    }
    .grid-item-4{
        grid-area:four;
        .grid-image{
            background-image:url("./Assets/images/img-3.jpg");
            background-size:480px;
            background-position:50% 55%;
            @media(max-width:1000px){
                background-size:280px;
            }
            @media(max-width:600px){
                background-position:50% 38%;
                background-size:400px;
            }
        }
    }
    .grid-item-5{
        grid-area:five;
        .grid-image{
            background-image:url("./Assets/images/img-4.jpg");
            background-size:cover;
            background-position:center;
            @media(max-width:1000px){
                background-position:50% 30%;
            }
            @media(max-width:600px){
                background-position:50% 44%;
            }
        }
    }
    .grid-item-6{
        grid-area:six;
        .grid-image{
            background-image:url("./Assets/images/img-5.jpg");
            background-size:cover;
            background-position:center;
            transform: matrix(-1, 0, 0, 1, 0, 0);
            @media(max-width:600px){
                height:70px;
                transform:none;
            }
        }
           
    }
    &>div{
        @media(max-width:600px){
            height:70px;
        }
    }
    &>div:not(:first-child){
        position:relative;
        @media(max-width:600px){
            margin-top:10px;
        }
    a{
        position:relative;
        width:100%;
        height:100%;
        display:block;
        z-index:10;
        &:hover .grid-image::before{
           
                opacity:1;
                visibility: visible;
        }
        &::after{
            content:"";
            position:absolute;
            top:70px;
            left:0;
            right:0;
            bottom:0;
            background: linear-gradient(360deg, #313F4F 0%, rgba(49, 63, 79, 0.991353) 4.56%, rgba(49, 63, 79, 0.96449) 9.12%, rgba(49, 63, 79, 0.91834) 13.68%, rgba(49, 63, 79, 0.852589) 18.24%, rgba(49, 63, 79, 0.768225) 22.8%, rgba(49, 63, 79, 0.668116) 27.35%, rgba(49, 63, 79, 0.557309) 31.91%, rgba(49, 63, 79, 0.442691) 36.47%, rgba(49, 63, 79, 0.331884) 41.03%, rgba(49, 63, 79, 0.231775) 45.59%, rgba(49, 63, 79, 0.147411) 50.15%, rgba(49, 63, 79, 0.0816599) 54.71%, rgba(49, 63, 79, 0.03551) 59.27%, rgba(49, 63, 79, 0.0086472) 63.83%, rgba(49, 63, 79, 0) 68.39%);
            @media(max-width:600px){
                top:0;
                background: rgba(60, 77, 97, 0.7);
            }
        }
        
    }
     h4{
        position:absolute;
        bottom:30px;
        width:100%;
        text-align:center;
        z-index:100;
        text-align:center;
        text-transform:uppercase;
        font-weight: 900;
        font-size: 24px;
        color: $white;
       
        @media(max-width:1000px){
            font-size:14.4px;
            bottom:20px;
        }
        @media(max-width:600px){
            font-size:18px;
            bottom:50%;
            transform:translateY(50%);
        }
        @media(max-width:200px){
            font-size:13px;
        }
     
      
    }
    
}
    
}
// section grid end
// section bigprotein start
.pick-section{
    height:820px;
    overflow: hidden;
    padding-left:40px;
    padding-right:40px;
    @media(max-width:1000px){
        height:650px;
    }
    @media(max-width:720px){
        padding-left:0;
        padding-right:0;
        height:690px;
    }
   
   
}
.our-pick{
    width:100%;
    height: 550px;
    background-color: #3C4D61;
    border-radius: 4px;
    display:flex;
    @media(max-width:1000px){
        height:467px;
    }
    @media(max-width:720px){
        flex-direction:column;
        height:490px;
    }
   
   
    &>*{
        flex:1;
    }
    &-content{
        padding:75px 0 75px 75px;
        display:flex;
        flex-direction:column;
        justify-content: space-around;
        @media(max-width:1000px){
            padding:40px 0 40px 40px;
            justify-content:space-between;

        }
        @media(max-width:720px){
            padding:40px 20px 20px 20px;
        }
        @media(max-width:600px){
            align-items:center;
            flex:1.1;
        }
        @media(max-width:500px){
            align-items:center;
            flex:1.5;
        }
        @media(max-width:370px){
            flex:3;
            padding:40px 15px 20px 15px;
            // align-items:initial;
        }
        @media(max-width:300px){
            align-items:initial;
        }
        
    }
    h2{
        font-weight: 900;
        font-size: 50px;
        text-transform: uppercase;
        color: $fa;
        @media(max-width:720px){
            font-size:26px;
        }
        @media(max-width:250px){
            font-size:18px;
        }
        
    }
    p{
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: $fa;
        @media(max-width:1000px){
            width:91%;
        }
        @media(max-width:600px){
           text-align:center;
        }
        @media(max-width:300px){
            text-align:left;
            font-size:12px;
         }
    }
    .button:first-child{
        margin-right:20px;
        @media(max-width:720px){
            margin-right:10px;
        }
        @media(max-width:308px){
            margin-bottom:10px;
            margin-right:0;
        }
    }
    .our-pick-image{
        position:relative;
        
       
    }
    img{
        position:absolute;
       
       max-width:185%;
        left:-45%;
        bottom:-176px;
        @media(max-width:800px){
            max-width:220%;
            left:-60%;
            bottom:-130px;
        }
        @media(max-width:720px){
            max-width:100%;
            left:20%;
            bottom:-80%;;
        }
        @media(max-width:600px){
            max-width:100%;
            left:initial;
            bottom:initial;
        }
    }
}
// section start bestof
.bestof-section{
    @media(max-width:500px){
        padding-top:0;
    }
}
    .heading-wrapper{
        max-width:1285px;
        margin:0 auto;
        
        h2{
            text-transform:uppercase;
            color:$grey36;
            font-weight: 900;
            font-size: 50px;
            text-align:center;
            margin-bottom:45px;
            @media(max-width:900px){
                margin-bottom:30px;
                font-size:40px;
            }
            @media(max-width:600px){
                margin-bottom:15px;
                font-size:26px;
            }
        }
        ul{
            display:flex;
            width:max-content;
            justify-content: center;
            height:47px;
            @media(max-width:1400px){
                width:initial;
            }
            
       li{
        list-style:none;
        a{
            
            text-decoration: none;
            color: $grey36;
            font-weight: 800;
            font-size: 16px;
            display:flex;
            align-items:center;
            width:100%;
            height:100%;
            text-align:center;
            border-bottom:3px solid transparent;
            &:hover{
                border-bottom:3px solid $orange;
            }
          
        }
        }
        li:not(:last-child){
            margin-right:25px;
            @media(max-width:900px){
                margin-right:0;
                padding:0 10px;
            }
            @media(max-width:500px){
                padding:0;
            }
        }
        li:not(.tab){
            @media(max-width:1200px){
                display:none;
            }
        }
        li.mob{
            @media(max-width:500px){
                display:block;;
            }
        }
        li:not(.mob){
            @media(max-width:500px){
                display:none;
            }
        }
    }
    }
    .protein-carousel-container{
        width:880px;
        margin:0 auto;
        margin-top:45px;
        @media(max-width:1200px){
            width:730px;
        }
        @media(max-width:900px){
            width:90%;
        }
        @media(max-width:600px){
        
            margin-top:15px;
        }
        // border:2px solid blue;
        .carousel{
            // border:2px solid red;
            position:relative;
        }
        .button-carousel{
            border-radius: 50%;
            background-color: $orange;
            border:4px solid  $fa;
            width:46px;
            height:46px;
            box-sizing: border-box;
            position:absolute;
            display:flex;
            justify-content:center;
            align-items:center;
           box-shadow:0 0 0 1px #D9D9D9;
           z-index:9999;
           &:hover{
            background-color:rgb(228, 197, 94);
        
           }
           img{
               position:relative;
           }
           &:first-of-type{
               top:50%;
               left:0;
            //    transform:translate(-25%,-50%) bez slick margine na slide
            transform:translate(10%,-50%);
            @media(max-width:900px){
                transform:translate(-10%,-50%);
            }
            @media(max-width:500px) and (min-width:400px){
                transform:translate(15%,-50%);
            }
           }
           &:first-of-type img{
               right:1.5px;
           }
           &:last-of-type{
               top:50%;
               right:0;
            //    transform:translate(25%,-50%) bez slick margine na slide
            transform:translate(-10%,-50%);
            @media(max-width:900px){
                transform:translate(10%,-50%);
            }
            @media(max-width:500px) and (min-width:400px){
                transform:translate(-15%,-50%);
            }
           }
           &:last-of-type img {
               left:1.5px;
           }
        }
        .item-wrapper{
            // height: 340px;
            // @media(max-width:1200px){
            //     height:290px;
            // }
            
            // border:1px solid black;
          a{
            color:$grey36;
            text-decoration:none;
          }
        }
        .item{
            display:flex;
            flex-direction:column;
           justify-content: center;
        //    height:100%;
        padding:30px 10px;
           align-items:center;
           border: 1px solid #D9D9D9;
           box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
           border-radius: 4px;
           transform:scale(0.9);
           background-color:$white;
           @media(max-width:900px){
            padding:20px 0px;
            
           }
           @media(max-width:600px) and (min-width:500px){
            padding:10px 0px;
            
           }
           h3{
            font-size: 14px;
            font-weight:700;
            text-transform:uppercase;
            margin-top:15px;
            text-align:center;
           }
           h4{
            font-weight: 900;
            font-size: 20px;
           }
           img{
            width:90%;
        }
        }
        .slick-center .item{
            transform:scale(1);
        }
       .button-div{
           width:max-content;
           display:block;
           margin:0 auto;
           margin-top:45px;
           @media(max-width:250px){
               width:fit-content;
           }
           
       }
       .slick-slide{
        margin:0 15px;
        @media(max-width:900px){
            margin:0 5px;
        }
       
       }
      
    }
    

    // section recipes and posts start
.images-carousel-section{
    padding-top:90px;
    @media(max-width:1000px){
        padding-top:65px;
    }
}
.images-carousel{
    .carousel{
        position:relative;
        height:420px;
        @media(max-width:1100px){
            height:285px;
        }
        @media(max-width:750px){
            height:220px;
        }
        @media(max-width:250px){
            height:170px;
        }
    }
   .item-wrapper{
       height:420px;
       @media(max-width:1100px){
            height:285px;
        }
        @media(max-width:750px){
            height:220px;
        }
        @media(max-width:250px){
            height:170px;
        }
     
   }
   .item{
       height:100%;
       position:relative;
       img{
           width:100%;
           height:100%;
           object-fit:cover;
           object-position:center;
       }
       &::before{
        content:"";
        position:absolute;
        top:31.5%;
        left:0;
        right:0;
        bottom:0;
        background: linear-gradient(360deg, #1B1B1B 0%, rgba(26, 26, 26, 0) 89.02%);

       }
       h3{
           position:absolute;
          bottom:10%;
          left:11%;
          z-index:500;
          color:$fa;
          font-weight: 900;
          font-size: 30px;
          text-transform: uppercase;
          @media(max-width:1000px){
              font-size:15px;
              left:10%;
              bottom:7%;
          }
       }
       
   }
   .button-image-carousel{
    border-radius: 50%;
    background-color:$white;
    border:none;
    width:56px;
    height:56px;
    box-sizing: border-box;
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
   z-index:9999;
   opacity:0.9;
   @media(max-width:1000px){
       width:40px;
       height:40px;
   }
   @media(max-width:500px){
       display:none;
   }
   &:hover{
    
    opacity:1;
   }
   img{ 
       position:relative;
       width:14px;
       @media(max-width:1000px){
        width:10px;
       
    }
   }
   &:first-of-type{
       top:50%;
       left:0;
   
    transform:translate(70%,-50%)
   }
   &:first-of-type img{
       right:1.5px;
   }
   &:last-of-type{
       top:50%;
       right:0;
    transform:translate(-70%,-50%)
   }
   &:last-of-type img {
       left:1.5px;
   }
}
}
#topseller-section{
    display:none;
    padding-bottom:20px;
    h4{
        font-size:24px;
    }
    @media(max-width:500px){
        display:block;
    }
}
// section social media start
///////////////////////////////////////////////////////////////////////
.social-media{
    height:585px;
    background-image:linear-gradient(120deg, $fa 34%, $orange
    34%);
    @media(max-width:1250px){
        height:420px;
    }
    @media(max-width:900px){
        height:290px;
    }

   
    .buttons-and-heading{
       max-width:900px;
       margin:0 auto;
       display:flex;
       align-items:center;
       margin-bottom:65px;
       @media(max-width:1600px){
        justify-content:center;
       }
       @media(max-width:1250px){
        justify-content:flex-end;
       }
       @media(max-width:900px){
        margin-bottom:15px;
        justify-content:center;
        
    }
       &>*:first-child{
        margin-right:15px;
        @media(max-width:900px) and (min-width:700px){
            margin-left:-135px;
        }
    }
    .slick-disabled{
        opacity:0.3;
    }
    &>*:last-child{
        margin-left:35px;
        font-weight: 900;
        font-size: 50px;
        color: $grey36;
        text-transform:uppercase;
        @media(max-width:900px){
            font-size:24px;
        }
        @media(max-width:600px){
            margin-left:0;
        }
        @media(max-width:300px){
            text-align:center;
        }
    }
    }
    .button-social-carousel{
        border-radius: 50%;
        background-color:$white;
        border:none;
        width:56px;
        height:56px;
        border: 2px solid #B4B4B4;        
        box-sizing: border-box;
        display:flex;
        justify-content:center;
        align-items:center;
       z-index:9999;
       @media(max-width:900px){
        width:40px;
        height:40px;
    }
       @media(max-width:600px){
           display:none;
       }
      
       &:hover{
        
        box-shadow:0 0 5px #B4B4B4;
       }
       img{ 
           position:relative;
           width:14px;
           @media(max-width:900px){
            width:10px;
           
        }
       }
     
       &:first-of-type img{
           right:1.5px;
       }
     
       &:last-of-type img {
           left:1.5px;
       }
    }
        .carousel{
            position:relative;
            height:300px;
            // max-width:1355px;
            // margin-left:auto;
            @media(max-width:1250px){
                height:160px;
            }
            .item-wrapper{
                height:300px;
                @media(max-width:1250px){
                    height:160px;
                }
              
            }
            .slick-slide{
                &:nth-child(1) .item-image{
                    background-image:url("./Assets/images/img-10.jpg");
                    background-size:cover;
                    background-position:right;
                }
                &:nth-child(2) .item-image{
                    background-image:url("./Assets/images/img-11.jpg");
                    background-size:450px;
                    background-position:75% 55%;
                    @media(max-width:1250px){
                        background-size:cover;
                        background-position:center;
                    }
                }
                &:nth-child(3) .item-image{
                    background-image:url("./Assets/images/img-12.jpg");
                    background-size:550px;
                    background-position:12% top;
                    @media(max-width:1250px){
                        background-size:cover;
                        background-position:center;
                    }
                }
                &:nth-child(4) .item-image{
                    background-image:url("./Assets/images/img-13.jpg");
                    background-size:cover;
                    background-position:center;
                }
                &:nth-child(5) .item-image{
                    background-image:url("./Assets/images/img-14.jpg");
                    background-size:cover;
                    background-position:70% 50%;
                }
                
                
            }

        .item{
            height:100%;
            position:relative;
            display:flex;
            box-shadow:0 40px 50px -30px rgba(112, 86, 0, 0.5);
            @media(max-width:1250px){
                display:block;
            }
            .item-image{
                flex:2.6 0;
                @media(max-width:1250px){
                    // flex:4 0;
                    height:100px;
                }
               
            }
            .item-content{
                flex:2.7 0;
                background-color:$white;
                display:flex;
                flex-direction:column;
                align-items:start;
                justify-content:space-between;
                padding:30px;
                @media(max-width:1370px){
                    padding:18px 20px;
                }
                @media(max-width:1250px){
                    // flex:0 4;
                    padding:12px 14px;
                    height:60px;
                    justify-content:center;
                }
              
                h4{
                    font-weight: 900;
                    font-size: 24px;
                    color:$grey36;
                    text-transform:uppercase;
                    @media(max-width:1250px){
                        font-size:14px;
                    }
                    &.br{
                        @media(max-width:1000px){
                            width:70%;
                        }
                    }
                }
                p{
                    font-size: 14px;
                    line-height: 20px;
                    color:$grey36;
                    @media(max-width:1250px){
                        display:none;
                    }
                    
                }
                .button{
                    @media(max-width:1250px){
                        display:none;
                    }
                }
            }
        }
        .slick-slide{
            margin:0 17px;
            @media(max-width:1000px){
                margin:0 8.5px;
            }
    
           }
           .slick-track{
               left:-250px;
               @media(max-width:900px){
                left:-133px;
            }
            @media(max-width:700px){
                left:-180px;
            }
            @media(max-width:550px){
                left:-200px;
            }
            @media(max-width:430px){
                left:-170px;
            }
               @media(max-width:370px){
                   left:-25px;
               }
           }
        }
   












}
// section social media end

// footer start
footer{
    #f1,#f2,#f3,#f4,#f5 {
        @media(max-width:1200px){
            display:none;
            background-color:#374759;
            border-bottom:1px solid #677E98;
            padding:20px;
        }

    }
    h3{
        font-weight: 900;
        font-size: 20px;
        text-transform:uppercase;
        @media(max-width:1200px){
            display:flex;
            justify-content: space-between;
            padding:15px 20px;
            align-items:center;
            border-bottom:1px solid #677E98;
            cursor:pointer;
        }
        @media(max-width:260px){
            font-size:14px;
        }
       
    }

  
    .footer-one{
        background-color:#3C4D61;
        cursor:context-menu;
        padding:57px 20px;
        height:310px;
        position:relative;
        z-index:2;
        @media(max-width:1200px){
            height:auto;
            padding:0;
        }
        
        
       
    }
    .footer-nav{
      
    //    height:185px;
        display:flex;
        font-size:14px;
        color:$fa;
        justify-content: space-around;
        @media(max-width:1200px){
            display:block;
        }
        
       
        &>div:not(:first-child){
            line-height: 26px;
            h3{
                margin-bottom:13px;
                @media(max-width:1200px){
                    margin-bottom:0;
                }
            }
            a:hover{
                opacity:0.5;
               
            }
          
        }
        &>div:nth-child(1){
           
            flex:3.45;
            display:flex;
            flex-direction: column;
            h3{
                margin-bottom:25px;
                @media(max-width:1200px){
                    margin-bottom:0;
                }
            }
            .nav-content{
                flex-grow:5;
                position:relative;
                z-index:2;
            }
            .email-buttons{
                height:100%;
                display:flex;
                flex-direction:column;
                justify-content: space-between;
                
                &>*:not(:last-child){
                    @media(max-width:1200px){
                        margin-bottom:15px;
                    }
                }
            }
            .footer-email{
                position:relative;
                width:83%;
                @media(max-width:500px){
                    width:100%;
                }
                input{
                    display:inline-block;
                    width:100%;
                    padding:10px;
                    background-color:transparent;
                    border: 1px solid #677E98;
                    border-radius:4px;      
                    font-size:14px;        
                    color:#677E98;
                    &:focus{
                        outline:1px solid $orange;
                        color:white;
                    }
                    &::placeholder {
                        color: #677E98;
                        opacity: 1; 
                      }
                      
                      &:-ms-input-placeholder {  
                       color: #677E98;
                      }
                      
                      &::-ms-input-placeholder { 
                       color: #677E98;
                      }           
                }
                img{
                    position:absolute;
                    right:10px;
                    top:50%;
                    transform:translateY(-50%);
                    z-index:-2;
                }

            }
            
            .footer-nav-buttons{
                display:flex;
                @media(max-width:300px){
                    display:block;
                }
                &>div:first-child{
                    @media(max-width:300px){
                        width:max-content;
                        margin:0 auto;
                    }
                }
                .nav-icons{
                    display:flex;
                    flex-grow:5;
                    padding:0 60px 0 20px;
                    justify-content:space-between;
                    @media(max-width:1200px){
                        max-width:200px;
                        padding-right:0;
                    }
                    @media(max-width:500px){
                        max-width:200px;
                        padding-left:15px;
                    }
                    @media(max-width:300px){
                        margin-top:20px;
                        max-width:initial;
                        justify-content: space-around;
                        padding-right:15px;
                    }
                }
                .footer-nav-icon{
                    
                    // &:first-of-type{
                    //     margin-left:25px;
                    //     @media(max-width:350px){
                    //         margin-left:10px;
                    //     }
                    // }
                    // &:not(:last-of-type){
                    //     margin-right:10px;
                    //     @media(max-width:350px){
                    //         margin-right:8px;
                    //     }
                    // }
                    img{
                       width:30px;
                    }
                    &:hover{
                        opacity:0.6;
                    }
                }
            }
        }
        &>div:nth-child(2){
            flex:4.35;
            
        }
        &>div:nth-child(3){
            flex:2.25;   
            a{
                text-decoration:none;
                color:inherit;
                
            }
            .info-contact{
                display:flex;
                flex-direction:column;
                align-items:start;
                margin-top:10px;
            }
            i{
                margin-right:5px;
            }
           
            img{
                width:18px;
                position:relative;
                top:5px;
            }
        

        }
        &>div:nth-child(4){
    
            flex:2;
            @media(max-width:1400px){
               padding-left:10px;
            }
            @media(max-width:1200px){
                padding-left:0;
             }
             p:last-of-type{
                 margin-left:5px;
                 @media(max-width:1200px){
                     margin-left:0;
                 }
             }
            
        }
      
        .button{
            padding:8px 30px;
        }
       
        .footer-links{
            display:flex;
            @media(max-width:1200px){
                display:block;
            }
            &>div{
                display:flex;
                flex-direction:column;
                align-items:start;
                flex:1;
            }
            a{
                text-decoration:none;
                color:inherit;
                
            }
        }
      
    }
    .footer-two {
        h3{
            display:none;
            color:$fa;
            @media(max-width:1200px){
               display:flex;
            }
        }
        .nav-content{
            height:100%;
        }
        height:92px;
        background-color:#313F4F;
        @media(max-width:1200px){
            height:auto;
            background-color:#3C4D61;
        }
        .sponsors{
         height:100%;
        display:flex;
        max-width:825px;
        margin:0 auto;
        justify-content: space-between;
        align-items:center;
        @media(max-width:1200px){
            max-width:initial;
            flex-wrap:wrap;
            padding:0 15px;
         }
         
        img{
            max-width:100%;
        }
        .sponsors-item{
            @media(max-width:700px){
                margin-right:5px;
                margin-bottom:10px;
            }
            &:nth-child(2){
                @media(max-width:1200px){
                    order:-2;
                }
            }
            &:nth-child(3){
                @media(max-width:1200px){
                    order:-1;
                }
            }
            &:nth-child(4){
                @media(max-width:1200px){
                    order:1;
                }
            }
        }
        .sponsors-item:last-child{
            display:none;
            @media(max-width:1200px){
                display:block;
            }
        }
        .sponsors-item:nth-last-child(2){
            @media(max-width:1200px){
                display:none;
            }
        }
        }
    }
}
